ul{
    list-style-type: none;
   margin: 10px;
}
img{
    float: left;
    padding: 10px;
   height: 180px;
   width: 180px;
 }
.logo {
    width: 100px;
    position: absolute;
    right: 140px;
    top: 20px;
}
body {background-color: #f7eede}
h1 {font-family:Georgia; color: #ffffff; background-color: #1a6e2a}
h2 {font-family:Georgia; color: #1a6e2a}
h3 {font-family:Georgia; color: #1a6e2a}
h4 {font-family:Georgia; color: #67a84d}
p {font-family:Georgia; color: #1a6e2a}
li {font-family: Georgia; color: #1a6e2a}
a:link{
    color: rgb(208, 231, 208);
}
a:hover{
    color: yellowgreen
}
a:visited{
    color: #c1eec1 
}
header{
    background-color:#1a6e2a;
    padding: 30px;
    text-align: center;
}  
nav ul{
    float: center;
    text-align: center;
    padding: 5px;
    background-color: #1a6e2a;
}  
ul{
    list-style-type: none
}
img{
    float: left;
    padding: 10px;
    height: 180px;
    width: 180px;
}
.logo {
 width: 100px;
 position: absolute;
 right: 140px;
 top: 20px;
}
title{
    display: flex;
    display: inline-block;
    position: relative;
}

#valikko li{
    margin: 2px;
    overflow: hidden;
    display: inline;
    padding: 3px;
    background-color: #329444;
}
#valikko li{
    float: center;
}
#valikko li a{
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#valikko li:hover{
    background-color: #116320
}
#yhteys{
    position: absolute;
    bottom: 15px;
    padding: 20px;
    height: 140px;
    width: 280px;
    line-height: 30px;;
}
#menu{
    line-height: 1.2;
}
#suema{
    font-family: Georgia; color: #1a6e2a; background-color: #f7eede;
}
#etusivu{
    padding: 15px;
}
#menu li{
    font-size: 17px;
}
#tähdet{
    line-height: 28px;
    color: #1a6e2a;
}
#pala{
    background-color: #f7eede;
    color:#1a6e2a;
}
#kenttä{
    width:220px;
    color: rgb(139, 187, 118);
}
#email{
    width:220px;
    color: rgb(139, 187, 118);
}
#teksti{
    color:#1a6e2a;
}
#sähköposti{
    color:#1a6e2a
}