ul{
    list-style-type: none;
   margin: 10px;
}
img{
    float: left;
    padding: 10px;
   height: 180px;
   width: 180px;
 }
.logo {
    width: 100px;
    position: absolute;
    right: 140px;
    top: 20px;
}
body {background-color: #f7eede}
h1 {font-family:Georgia; color: #f7eede; background-color: #b5451b}
h2 {font-family:Georgia; color: #b5451b}
h3 {font-family:Georgia; color: #b5451b}
h4 {font-family:Georgia; color: #f7eede}
p {font-family:Georgia; color: #b5451b}
li {font-family: Georgia; color: #b5451b}
a:link{
    color: #d38117;
}
a:hover{
    color: #b5451b
}
a:visited{
    color: #b5451b
}
header{
    background-color:#b5451b;
    padding-bottom: 30px;
    text-align: center;
}  
nav ul{
    float: center;
    text-align: center;
    padding: 5px;
    background-color: #b5451b;
}  
ul{
    list-style-type: none
}
img{
    float: left;
    padding: 10px;
    height: 180px;
    width: 180px;
}
.logo {
 width: 100px;
 position: absolute;
 right: 140px;
 top: 20px;
}
title{
    display: flex;
    display: inline-block;
    position: relative;
}
#yhteys{
    position: absolute;
    bottom: 15px;
    padding: 20px;
    height: 140px;
    width: 280px;
    line-height: 30px;;
}
#menu{
    line-height: 1.2;
}
#suema{
    font-family: Georgia; color: #b5451b; background-color: #f7eede;
}
#etusivu{
    padding: 15px;
}
#menu li{
    font-size: 17px;
}
#tähdet{
    line-height: 28px;
    color: #b5451b;
}
#pala{
    background-color: #f7eede;
    color: #b5451b;
}
#kenttä{
    width:220px;
}
#email{
    width:220px;
}
#teksti{
    color:#b5451b;
}
#sähköposti{
    color:#b5451b
}
.topnav {
    background-color: #333;
    overflow: hidden;
    height: 48px;
    display: flex;
    align-items: center;
}
.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #333;
    border: none;
}
.topnav a {
    cursor: pointer;
}
.topnav a:hover,
#kirjauduulos_btn:hover {
    background-color: #ddd;
    color: black;
    transition: 0.2s;
}
.topnav a.active {
    background-color: #b8741b;
    color: white;
}